body {
  color: #444;
  background-color: #fff;
}

/*
** To be used with tableselect.js
*/
td.active {
  background-color: rgba(128, 128, 128, .04);
}

tr.selected {
  background: #ffc;
}
tr.selected.even {
  background: #ffb;
}
.marker,
.form-required strong,
.error-wrapper label {
  color: #f00;
}

fieldset,
textarea {
  border-color: #ccc;
}
.form-required {
  color: #fff;
}
.form-element:hover .form-required {
  color: #999;
}
.form-element .description {
  color: #999;
}
.form-element:hover .description {
  color: #333;
}
/*
** These cancel out the .error rule set. These form elements are set to stay
** neutral.
*/
input.form-text,
textarea.form-textarea,
select.form-select {
  background-color: #fff;
  color: #333;
}

/*
** Floating header for tableheader.js
*/
html.js table.sticky-enabled {
  background-color: #fff;
  box-shadow: 0 .1em .3em #aaa;
  -moz-box-shadow: 0 .1em .3em #aaa;
  -webkit-box-shadow: 0 .1em .3em #aaa;
}
html.js table.sticky-header {
  background-color: #fff;
  box-shadow: 0 .2em .2em #aaa;
  -moz-box-shadow: 0 .2em .2em #aaa;
  -webkit-box-shadow: 0 .2em .2em #aaa;
}

/*
** Input field autocomplete drop down box.
*/
#autocomplete ul {
  background: #fff;
  border-color: #aaa;
  box-shadow: 0 .1em .3em #aaa;
  -moz-box-shadow: 0 .1em .3em #aaa;
  -webkit-box-shadow: 0 .1em .3em #aaa;
}
#autocomplete li.selected {
  background-color: #eee;
}

/* links */
a:link {
  color: #357ab2;
}
a:visited {
  color: #6b8498;
}
a:hover,
a:focus,
a:active {
  color: #b28500;
}

/*******************************************************************
 * Color Module: Don't touch (prevents color module alterations)   *
 *******************************************************************/

/* messages and status */
.even {
  background-color: #f6f6f0;
}
.odd {
  background-color: #fff;
}
.status,
.ok {
  color: #050;
  background-color: #d8eecf;
}
.ok.odd {
  background-color: #e3f4dc;
}
.error {
  color: #600;
  background-color: #fcc;
}
.error.odd {
  background-color: #ffd3d4;
}
.warning {
  color: #ff5f00;
  background-color: #ffd;
}
.warning.odd {
  background-color: #ffffea;
}
span.warning {
  background-color: transparent;
}
