/*
** Page layout
*/

/* Page layout handled by fluid grid stylesheet and page.vars.inc */

/*
** links
*/
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/* Increase height of some links on smaller screens for usability;
   Add border bottom on link lists in blocks, such as menus */
@media screen and (max-width: 640px) {
  h1 a,
  h2.title a,
  .blocks li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .blocks li {
    min-height: 40px;
    border-bottom: 1px dotted #CCC;
  }
}

/* Images */

img {
  max-width: 100%;
}

/* Fix logo image */

img.logo {
  width: 100%;
  height: auto;
}

/*
** applies to site links and tabs (local tasks).
*/
ul.primary,
ul.secondary {
  margin: 0 0 1.5em;
}
ul.secondary {
  margin-top: -1.5em;
}
ul.links.primary li,
ul.links.secondary li {
  display: inline-block;
  list-style-type: none;
  padding: 0 .5em;
}
.primary a.active,
.secondary a.active {
  text-decoration: underline;
}

/*
** site header
*/
#site-branding {
  margin-bottom: 1.5em;
}
#site-branding {
  float: left; /* LTR */
}
#site-id,
.site-slogan {
  margin: 0;
}
#site-id a {
  text-decoration: none;
}
#site-id img {
  vertical-align: -1em;
}

#site-navigation {
  float: right; /* LTR */
}
#site-navigation {
  margin-bottom: 1.5em;
}
#search-theme-form {
  margin-bottom: .5em;
}


#page-header,
#page-content-wrapper,
#blocks-footer,
#footer-message {
  clear: both;
}

#page-header,
#site-mission {
  margin-bottom: 1.5em;
}

#page-content-wrapper,
#blocks-left,
#blocks-right {
  margin-top: 1.5em;
}

/* Fix search, logo, and primary links for smaller screens */

@media screen and (max-width: 950px) {
  #site-navigation {
    width: 100%;
  }
  #header-banner ul.primary {
    width: 100%;
    float: none;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  #header-banner ul.primary a {
    display: inline-block;
    padding: 10px 3%;
    text-decoration: underline;
  }
}

@media screen and (max-width: 500px) {
  ul.links.primary li {
    display: inline;
  }
  #header-banner ul.primary a {
    border-bottom: 1px dotted;
    display: block;
    text-align: left;
    text-decoration: none;
  }
}

/*
** Status messages. These also apply in forms.
*/
ul.messages {
  padding: 0 1em;
  margin: 0;
}
.status-messages,
form div.warning {
  margin-bottom: 1.5em;
}
.messages li {
  margin: 0;
  list-style-type: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
.messages li:hover {
  overflow: visible;
}


/*
** content header
*/
#content-header,
ul.tabs {
  margin-bottom: 1.5em;
}
.breadcrumb {
  word-spacing: .3em;
  margin-top: -1.5em;
  margin-bottom: 1.5em;
}
.help {
  margin-bottom: 1.5em;
}

.meta {
  margin-bottom: 1.5em;
}

/* blocks */
.blocks {
  margin-bottom: 1.5em;
}
.block-content {
  margin-bottom: 1.5em;
}

a.feed-icon {
  display: block;
  min-height: 1.5em;
}
a.feed-icon img {
  display: block;
}

/* pager */
.item-list ul.pager {
  margin-bottom: 1.5em;
}
ul.pager,
ul.pager li {
  display:inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.pager a,
ul.pager li.pager-current {
  padding: 0 5px;
}

/* forms */
.form-text {
  max-width: 98%;
}
